{% extends 'base_generic.html' %}


{% block content %}
    <div class="d-flex flex-column align-items-center">   
        <h1>Your profile</h1>
        <p>You can edit it. to do so, you can press "edit" button</p>
        
        <form action="." method="post" enctype="multipart/form-data" class="d-flex flex-column text-center">
            Nickname:{{profile.user.username}}
            <br/>
            Firstname: {{user.first_name}}
            <br/>
            Lastname: {{user.last_name}}
            <br/>
            Email: {{user.email}}
            <br/>
            Info: {{ profile.bio }}
            {% csrf_token %}
            <br/>
            <a href="{% url 'catalog:edit' %}" class="btn btn-dark">Edit</a>
        </form>
    </div> 
{% endblock %}